.recipe-image{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 5px;
    margin-top: 1rem;
}

.recipe-name{
    max-width: 200px;
    text-align:center;
    font-family: 'Josefin Sans';
    margin-top: 0.5rem;
    font-weight: bolder;
    font-size: 1.1rem;
}